<div class="ui grid center">
 <div class="row">
  <div class="sixteen wide column"></div>
  </div>
   <div class="row">
  <div class="six wide column"></div>
  <div  class="five wide column">
  <div style="justify-items: center;" class="ui mini form three wide column container segment">
    <h1 class="center">Register</h1>
    <form class="center signup" action="/login" method="POST">
      <label for="name"></label>
      <input type="text" id="name-input" name="name" placeholder="Name" required>
      <label for="email"></label>
      <input type="email" id="email-input" name="email" placeholder="Email" required>
      <label for="password"></label>
      <input type="password" id="password-input" name="password" placeholder="Password" required>
      <label for="confirm-password"></label>
      <input type="password" id="confirmpasswordInput" name="confirm-password" placeholder="Confirm Password" required>

      <span style="font-family: Arial, Helvetica, sans-serif;color: black;" id="alertDIV"></span>

      <button id="register" name="submit" class="ui secondary button">Register</button>
      <br>
      <h5>&nbsp; Or log in &nbsp;  <a class="registerHere" href="/login">here</a></h5>
  </div>
  <div class="three wide column"></div>
  </div>
</div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
  integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>